body {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: block;
  z-index: 0;
}


header {
  position: relative;
  text-align: center;
  font-size: 2vw;
  padding: 3px;
  margin: 0;
  background-color: rgb(0, 128, 128);
  border: 4px solid black;
  color: white;
  z-index: 1;
}
h2 {
  text-align: center;
  font-size: 1vw;
  z-index: 1;
}
#leftBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: left;
  border: 2px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes (adjust as needed) */
    rgb(0, 128, 128), /* Blue stripe color */
    rgb(0, 128, 128) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* Yellow stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#rightBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: right;
  border: 2px solid black;
  background: repeating-linear-gradient(
    315deg, /* Angle of the stripes (adjust as needed) */
    rgb(0, 128, 128), /* teal stripe color */
    rgb(0, 128, 128) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* lavender stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
.center-container {
  display: block;
}

.grid-container {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 10px; 
  background-color: black; 
  padding: 10px; 
  justify-content: center; 
  align-content: center;
  margin:auto;
  width: 70%;
  height: 65vh;
  z-index: 3;
  
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  justify-content: center; /*Center content horizontally */
  text-align: center;
  font-size: 2vw; /* Relative font size based on viewport width */
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  padding: 2% 5%; /* Relative padding based on the size of the grid item */
  background-color: rgb(0, 0, 0);
  color: black;
  border-radius: 5px;
  z-index: 3;
  
}
.grid-item:hover {
  text-align: center;
  font-size: 2vw; /* Relative font size based on viewport width */
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  padding: 2% 5%; /* Relative padding based on the size of the grid item */
  background-color: rgb(0, 0, 0);
  color: black;
  border-radius: 5px;
  z-index: 3;
  border: 3px solid white;
}
#item1 {
  background-color: rgb(157, 208, 224);
  color: white;
}

#item2 {
  background-color: rgb(136, 221, 136);
  color: black;
}

#item3 {
  background-color: rgb(189, 86, 86);
  color: white;
}

#item4 {
  background-color: rgb(169, 84, 172);
  color: white;
}

#item5 {
  background-color: rgb(241, 224, 125);
  color: black;
}

#item6 {
  background-color: rgb(255, 126, 158);
  color: black;
}

/* Hover styles for grid items */
#item1:hover {
  background-color: rgb(16, 16, 200);
  
}

#item2:hover {
  background-color: rgb(16, 159, 52);
}

#item3:hover {
  background-color: rgb(193, 3, 0);
}

#item4:hover {
  background-color: rgb(111, 3, 206);
}

#item5:hover {
  background-color: rgb(243, 147, 4);
}

#item6:hover {
  background-color: rgb(153, 2, 65);
}
#scienceheader {
  position: relative;
  text-align: center;
  font-size: 2vw;
  padding: 3px;
  margin: 0;
  background-color: rgb(16, 16, 200);
  border: 4px solid black;
  color: white;
  z-index: 1;
}
#scienceleftBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: left;
  border: 2px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes (adjust as needed) */
    rgb(16, 16, 200), /* Blue stripe color */
    rgb(16, 16, 200) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* Yellow stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#sciencerightBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: right;
  border: 2px solid black;
  background: repeating-linear-gradient(
    315deg, /* Angle of the stripes (adjust as needed) */
    rgb(16, 16, 200), /* teal stripe color */
    rgb(16, 16, 200) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* lavender stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#historyheader {
  position: relative;
  text-align: center;
  font-size: 2vw;
  padding: 3px;
  margin: 0;
  background-color: rgb(241, 224, 125);
  border: 4px solid black;
  color: white;
  z-index: 1;
}
#historyleftBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: left;
  border: 2px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes (adjust as needed) */
    rgb(241, 224, 125), /* Blue stripe color */
    rgb(241, 224, 125) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* Yellow stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#historyrightBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: right;
  border: 2px solid black;
  background: repeating-linear-gradient(
    315deg, /* Angle of the stripes (adjust as needed) */
    rgb(241, 224, 125), /* teal stripe color */
    rgb(241, 224, 125) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* lavender stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#mathheader {
  position: relative;
  text-align: center;
  font-size: 2vw;
  padding: 3px;
  margin: 0;
  background-color: rgb(16, 159, 52);
  border: 4px solid black;
  color: white;
  z-index: 1;
}
#mathleftBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: left;
  border: 2px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes (adjust as needed) */
    rgb(16, 159, 52), /* Blue stripe color */
    rgb(16, 159, 52) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* Yellow stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#mathrightBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: right;
  border: 2px solid black;
  background: repeating-linear-gradient(
    315deg, /* Angle of the stripes (adjust as needed) */
    rgb(16, 159, 52), /* teal stripe color */
    rgb(16, 159, 52) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* lavender stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#popcultureheader {
  position: relative;
  text-align: center;
  font-size: 2vw;
  padding: 3px;
  margin: 0;
  background-color: rgb(111, 3, 206);
  border: 4px solid black;
  color: white;
  z-index: 1;
}
#popcultureleftBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: left;
  border: 2px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes (adjust as needed) */
    rgb(111, 3, 206), /* Blue stripe color */
    rgb(111, 3, 206) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* Yellow stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
#popculturerightBorder {
  position: relative;
  display: flex;
  width: 10%;
  height: 100vh;
  float: right;
  border: 2px solid black;
  background: repeating-linear-gradient(
    315deg, /* Angle of the stripes (adjust as needed) */
    rgb(111, 3, 206), /* teal stripe color */
    rgb(111, 3, 206) 10px, /* Adjust the width of each blue stripe */
    rgb(230, 230, 250) 10px, /* lavender stripe color */
    rgb(230, 230, 250) 20px /* Adju*/
  );
  z-index: 0;
}
